@mixin reset-pm {
  margin: 0;
  padding: 0;
}

@mixin body01 {
  /* Heading/H3 */
  font-family: "Gilroy";
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  color: #232536;
  opacity: 0.5;
}
 @mixin body02{
    /* Heading/H3 */
font-family: 'Gilroy';
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */
color: #232536;
opacity: 0.5;
 }