@import "config";
@import 'utils';
@import 'button';

* {
    @include reset-pm();
    box-sizing: border-box;
}

header {
    nav {
        background-color: $Tint-Blue;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 5.75rem;
    }

    img {
        margin-left: 10rem;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

ul {
    @include reset-pm();
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-right: 13rem;

    li {
        color: white;

        a {
            @include btn();
            padding: 1rem 3rem;
        }
    }


}

footer {

    background-color: $Tint-Blue;
    margin-top: auto;
    height: 24.8125rem;

    .container {


        .row {
            display: flex;
            flex-direction: row;            
            padding: 100px 158px;

            .col {
                width: 339px;
            }


        }
    }


}